
.normal {
  font-family: Georgia, sans-serif;
  margin-top: 3em;
  text-align: center;
  margin-top: 300px;
  .nav{
    font-size: 50px;
    color: #000;
    &:hover{
      color: #DCDCDC;
      opacity: 0.1;
    };
  }
}


