:global{
	.ant-layout-header{
		background: #fff;
        margin-bottom: 30px;
        padding: 0;
        height: auto;
        line-height: 0;
        .navs{
            padding: 50px 0 15px;
            text-align: right;
            a{
                color: #FFB6C1;               
            }
            a:hover{
                color: #FFE4E1;
            }
            .ant-divider{
                background: rgba(0, 0, 0, 0.65);
            }
            .user{
                font-weight: 500;
            }
        }        
	}
	.ant-layout-footer{
		background: #fff;
	}
  .icon{
    width: 21em;
    height: 5em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
    font-size: 42px;
    position: absolute;
    top: 0px;
    left: -50px;
    color: #FFF0F5;
  }
}
.content{

}